# https://wiki.metacubex.one/example/conf/
# url 里填写自己的订阅,名称不能重复
proxy-providers:
  provider1:
    url: "https://example.com/provider1"
    type: http
    interval: 86400
    health-check:
      {
        enable: true,
        url: "https://www.gstatic.com/generate_204",
        interval: 300,
      }
    override:
      additional-prefix: "[provider1]"

  provider2:
    url: "https://example.com/provider2"
    type: http
    interval: 86400
    health-check:
      {
        enable: true,
        url: "https://www.gstatic.com/generate_204",
        interval: 300,
      }
    override:
      additional-prefix: "[provider2]"
